:root {
    /* grayscale */
    --black: #212121;
    --medium: #666666;
    --light: #E0E0E0;
    --background: #d1d1d1;
    --white: #FFFFFF;

    /* types */
    --normal: #AAA67F;
    --grass: #74CB48;
    --water: #6493EB;
    --fire: #F57D31
    --eletric: #F9CF30;
    --dark: #75574C;
    --physic: #FB5584;
    --fairy: #E69EAC;
    --dragon: #7037FF;
    --flying: #A891EC;
    --fighting: #C12239;
    --bug: #A7B723;
    --ground: #DEC16B;
    --rock: #B69E31;
    --steel: #B7B9D0;
    --ice: #9AD6DF;
    --ghost: #70559B;
    --poison: #A43E9E;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
}
.pokemons {
    display: grid;
    grid-template-columns: 1fr;
}
.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}
.pokemon .name, .number {
    text-transform: capitalize;
    color: var(--black);
    margin-bottom: .25em;
}
.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.pokemon .detail .types .type {
    color: var(--white);
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    text-align: center;
}
.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}
@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* types */
.normal {
    background-color: var(--normal);
}

.grass {
    background-color: var(--grass);
}

.fire {
    background-color: var(--fire);
}

.water {
    background-color: var(--water);
}

.electric {
    background-color: var(--eletric);
}

.ice {
    background-color: var(--ice);
}

.ground {
    background-color: var(--ground);
}

.flying {
    background-color: var(--flying);
}

.poison {
    background-color: var(--poison);
}

.fighting {
    background-color: var(--fighting);
}

.psychic {
    background-color: var(--physic);
}

.dark {
    background-color: var(--dark);
}

.rock {
    background-color: var(--rock);
}

.bug {
    background-color: var(--bug);
}

.ghost {
    background-color: var(--ghost);
}

.steel {
    background-color: var(--steel);
}

.dragon {
    background-color: var(--dragon);
}

.fairy {
    background-color: var(--fairy);
}